<!--<ng-container *ngIf="amount && currency">-->
<div class="aiia-payment-wrapper">

  <button [disabled]="isWorking" (click)="isEmailVisible =! isEmailVisible" class="btn btn-payment">Buy Now
    - {{ amount | currency: currency }} </button>

  <ng-container *ngIf="isEmailVisible">
    <div class="email-form">
      <div class="form-control">
        <label for="email">Your Email address</label>
        <input type="email" [(ngModel)]="emailAddress">
        <button [disabled]="isWorking" id="email" [disabled]="!emailAddress" class="btn btn-payment"
                (click)="generatePaymentUrl()">
          <ng-container *ngIf="isWorking">Hold on...</ng-container>
          <ng-container *ngIf="!isWorking">Pay {{ amount | currency: "AED" }} with aiia</ng-container>
        </button>
      </div>
      <footer>
        <a href="https://aiia.eu?utm_source=cupcakes&utm_medium=footer_image&utm_campaign=aiia_element" target="_blank">
          <img src="https://docs.aiia.eu/_images/svg/aiia.svg" alt="aiia"/>
        </a>
      </footer>
    </div>
  </ng-container>


</div>
<!--</ng-container>-->

<!--<ng-container *ngIf="!amount || !currency">-->
<!--  <div class="warning">-->
<!--    <p>Please specify 'amount' and 'currency'.</p>-->
<!--  </div>-->
<!--</ng-container>-->


